/**
 * Nav
 */
@import '~style-utils';

.nav {
  @include ff-title;

  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__main {
    display: flex;
    flex-wrap: nowrap;

    &_link {
      display: flex;
      padding: 0.6rem 1.75rem;
    }
  }
}
