/**
 * Font Mixins
 */

// Title Font
@mixin ff-title {
  font-family: "Bebas Neue",Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: normal;
}

// Body Font
@mixin ff-body($style: null) {
  font-family: "Lato",Consolas,monaco,monospace;

  @if $style == 'bold' {
    font-weight: bold;
  } @else {
    font-weight: normal;
  }
}
