/**
 * Forms Styling
 */

form,
.form {
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    display: block;
    margin-bottom: 1.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.invalid input,
    &.invalid textarea {
      border: 2px solid transparent;
    }
  }

  input,
  textarea {
    @include ff-body;

    width: 100%;
    padding: 0.55rem 1rem;
  }

  textarea {
    min-height: 100px;
  }

  &__label {
    @include ff-body;

    display: block;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  &__error {
    font-size: 1.05rem;
    margin-bottom: 1rem;
  }

  &__info {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }

  &__submit {
    position: relative;
    display:block;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.25rem 2rem;
    width: 100%;
    margin-top: 0.75rem;

    transition: opacity $anim-time-default $anim-effect-default;

    &[disabled],
    &.loading {
      opacity: 0.75;
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }
}
