/**
 * Loader Component
 * Credit: https://projects.lukehaas.me/css-loaders/
 */
@import '~style-utils';

.loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: $z-loader;
  overflow: hidden;

  // CSSTransition
  opacity: 0;
  transition: opacity $anim-time-default $anim-effect-default;

  &.anim-enter,
  &.anim-enter-done { opacity: 1; }

  &.anim-exit { opacity: 0; }
  &.anim-exit-done { display: none; }

  // Loader Inner (spinner)
  &__inner,
  &__inner::after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }

  &__inner {
    position: absolute;
    margin: auto;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid transparent;
    border-right: 1.1em solid transparent;
    border-bottom: 1.1em solid transparent;
    border-left: 1.1em solid transparent;
    //-webkit-transform: translateZ(0);
    //-ms-transform: translateZ(0);
    transform: translateZ(0);
    //-webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
}

// Animations
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
