/**
 * Schedule Page
 */
@import '~style-utils';

.schedule {
  position: relative;

  // Items Container
  &__items {
    @include offset-side-padding($site-max-width);

    position: relative;
    display: flex;
    padding-top: $content-area-padding;
    padding-bottom: $content-area-padding;
  }

  // Single Items
  &__item {
    //@TODO: STYLE THIS (move colors out)
    padding: 0.4rem;
    border: 1px solid $c-gray;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  // Form overrides
  .form {
    &__content {
      padding: 2.5rem $content-area-padding;
    }

    &__error {
      @include ff-title;

      padding: 1.5rem $content-area-padding;
      font-size: 1.25rem;
      margin: 0;
    }
  }
}
